<div class="row">
    <div class="col-md-12 mt-5">
        <h2>welcome, <span class="p-2" style="background-color: orange;">{{username}}</span></h2>
    </div>
    <div class="col-md-12 pt-3">
        <div class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" id="mycar">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="car-4.jpg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="car-1.jpg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="car-2.jpg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="car-3.jpg" class="d-block w-100" alt="">
                </div>
            </div>
            <button type="button" class="carousel-control-prev" data-bs-target="#mycar" data-bs-slide="prev"><span
                    class="carousel-control-prev-icon"></span></button>
            <button type="button" class="carousel-control-next" data-bs-target="#mycar" data-bs-slide="next"><span
                    class="carousel-control-next-icon"></span></button>
        </div>
    </div>
    <h1 class="pt-5 ms-2">Lets start learning</h1>
    <div class="col-md-12 mt-5" *ngFor="let category of viewcourse">
        <h3 class="category-heading ms-2">{{ category.categoryName }}</h3>

        <div class="row">
            <div class="col-md-4" *ngFor="let course of category.courseList">
                <div class="course-card-wrapper">
                    <div class="course-card card glass-card shadow-sm" (click)="opendetails(course.courseId)">
                        <img [src]="course.courseImage" class="card-img-top course-image" alt="Course Image">
                        <div class="card-body">
                            <h5 class="course-title">{{ course.courseName }}</h5>
                            <p class="course-meta"><strong>Level:</strong> {{ course.courseLevel }}</p>
                            <p class="course-meta"><strong>Price:</strong> ₹{{ course.coursePrice }}</p>
                            <button class="view-btn">View Program</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>